@model IEnumerable<NovaMoedaInvestimentos.Models.Stock>

@{
    ViewData["Title"] = "List";
}
<div>
    <h1>Ações</h1>
    <!--voltar na aula 35-->
    <br />
</div>
<table class="table">
    <tbody>

@foreach(var stock in Model)
        {
            <tr>
                <td>
                    <p><img src="@stock.Image" width="50"></p>
                </td>
                <td>
                    <h4>@stock.Symbol</h4>
                </td>
                <td>
                    <h4>@stock.Name</h4>
                </td>
                <td>
                    <p><img src="~/images/grafico-acoes-editado.png" width="100"></p>
                </td>
                <td>
                    <h4>@stock.CurrentPrice.ToString("c")</h4>
                </td>
            </tr>
        }
    </tbody>
</table>

