@model IEnumerable<NovaMoedaInvestimentos.Models.Stock>
<div class="container" style="margin: 0; padding: 0;text-align: center;">
    <div id="header" style="padding: 0;">
        <img src="~/images/graph/acoes-header.png" alt="Fale Conosco" style="display:block ; margin: 0 auto; max-width: 100%;">
    </div>
@{
    ViewData["Title"] = "List";
}
    <div>
        <br />
        <h6>@ViewData["Data"]                |                @ViewBag.Total @ViewBag.TotalStocks</h6>
        <hr />

    </div>
    <div class= "container">
        <!--table-dark-->
        <table class="table table-green">

    @foreach(var stock in Model)
            {
                <partial name ="_StocksResume" for="@stock"/>
            }
        </table>
    </div>
</div>
