@model Stock
<tr>
    <td>
        <h5><img src="@Model.Image" width="50"></h5>
    </td>
    <td>
        <h5>@Model.Symbol</h5>
    </td>
    <td>
        <h5>@Model.Name</h5>
    </td>
    <td>
        <h5><img src="~/images/grafico-acoes-editado.png" width="100"></h5>
    </td>
    <td>
        <h5>@Model.CurrentPrice.ToString("c")</h5>
    </td>
</tr>