<div class="container" style="margin: 0; padding: 0;text-align: center;">
    <div id="header" style="padding: 0;">
        <img src="~/images/contact/contact-header.png" alt="Fale Conosco" style="display:block ; margin: 0 auto; max-width: 100%;" >
    </div>

    <table style="margin: 20px auto; border-collapse: collapse; width: 80%;">
        <tr>
            <th style="padding: 15px;"><img src="~/images/contact/Envelope-icon24.png" /> <email email-address="contato@novamoeda.com.br" email-content="   Enviar um e-mail"></email></th>
        </tr>
        <tr>
            <td style="padding: 15px;"><img src="~/images/contact/phone-app-icon.png" /> (21) 98888-5566</td>
        </tr>
        <tr>
            <td style="padding: 15px;"><img src="~/images/contact/Home-iconred.png" /> R. Ataulfo de Paiva, 391, Leblon - 22440-032 - RJ</td>
        </tr>
    </table>
</div>

